footer{
    position: relative;
    margin-left: 22%;
}

.img-foot{
    margin-left: 10%;
}

#button_tienda{
    position: relative;
    margin-left: 40%;
    border: 2px solid rgb(5, 95, 240);
}

.h2{
    text-decoration: solid rgb(25, 240, 5);
}





